@font-face {
    font-family: 'social';
    src:url('./fonts/social.eot');
    src:url('./fonts/social.eot?#iefix') format('embedded-opentype'),
    url('./fonts/social.svg#Grands') format('svg'),
    url('./fonts/social.woff') format('woff'),
    url('./fonts/social.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'social';
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-VK:before {
    content: "\e601";
}
.icon-ericpol:before {
    content: "\e600";
}
.icon-google-plus:before {
    content: "\ea88";
}
.icon-facebook:before {
    content: "\ea8c";
}


.standard-login {
    width:270px;
    float: left;
    padding: 20px 20px 20px 20px;
    border-right: thin solid #e3e3e3;

}

.SNLogin {
    width:270px;
    float: left;
    padding: 20px 20px 20px 20px ;
}

.VK-button {
    background: #6d8cb0 !important;
}

.google-button {
    background: #d73d32 !important;
}

.facebook-button {
    background: #3a5795 !important;
}


.ericpol-button {
    background: #67AE1A !important;
}

.registration-button {
    background: #f44336 !important;

}

.registration-form {
    padding: 20px;
}


.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

html[xmlns] .clearfix {
    display: block;
}

* html .clearfix {
    height: 1%;
}