@font-face {
    font-family: 'social';
    src:url('./fonts/social.eot');
    src:url('./fonts/social.eot?#iefix') format('embedded-opentype'),
    url('./fonts/social.svg#Grands') format('svg'),
    url('./fonts/social.woff') format('woff'),
    url('./fonts/social.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'social';
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-VK:before {
    content: "\e601";
}
.icon-ericpol:before {
    content: "\e600";
}
.icon-home:before {
    content: "\e900";
}
.icon-pencil:before {
    content: "\e905";
}
.icon-pencil2:before {
    content: "\e906";
}
.icon-images:before {
    content: "\e90e";
}
.icon-camera:before {
    content: "\e90f";
}
.icon-folder-open:before {
    content: "\e930";
}
.icon-location:before {
    content: "\e947";
}
.icon-display:before {
    content: "\e956";
}
.icon-mobile:before {
    content: "\e958";
}
.icon-bubble:before {
    content: "\e96b";
}
.icon-user:before {
    content: "\e971";
}
.icon-users:before {
    content: "\e972";
}
.icon-user-plus:before {
    content: "\e973";
}
.icon-user-minus:before {
    content: "\e974";
}
.icon-user-check:before {
    content: "\e975";
}
.icon-spinner:before {
    content: "\e984";
}
.icon-key:before {
    content: "\e98d";
}
.icon-key2:before {
    content: "\e98e";
}
.icon-lock:before {
    content: "\e98f";
}
.icon-wrench:before {
    content: "\e991";
}
.icon-cog:before {
    content: "\e994";
}
.icon-pie-chart:before {
    content: "\e99a";
}
.icon-trophy:before {
    content: "\e99e";
}
.icon-bin2:before {
    content: "\e9ad";
}
.icon-star-empty:before {
    content: "\e9d7";
}
.icon-star-full:before {
    content: "\e9d9";
}
.icon-enter:before {
    content: "\ea13";
}
.icon-exit:before {
    content: "\ea14";
}
.icon-google-plus:before {
    content: "\ea88";
}
.icon-facebook:before {
    content: "\ea8c";
}
.icon-github:before {
    content: "\eab1";
}
.icon-github2:before {
    content: "\eab2";
}




.standard-login {
    width:270px;
    float: left;
    padding: 20px 20px 20px 20px;
    border-right: thin solid #e3e3e3;

}

.SNLogin {
    width:270px;
    float: left;
    padding: 20px 20px 20px 20px ;
}

.VK-button {
    background: #6d8cb0 !important;
}

.google-button {
    background: #d73d32 !important;
}

.facebook-button {
    background: #3a5795 !important;
}


.ericpol-button {
    background: #67AE1A !important;
}

.registration-button {
    background: #f44336 !important;

}

.registration-form {
    padding: 20px;
}


.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

html[xmlns] .clearfix {
    display: block;
}

* html .clearfix {
    height: 1%;
}